.ui.statistic>.label{
  text-transform:none !important;
}

.PieChart{
  padding:  1em 3em;
}

.dashHeader{
  margin-bottom: 0.5em;
}

.chart .one::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin-left: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #9EAEB9;
 }

 .chart .two::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin-left: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #48DAA0;
 }

 .chart .three::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin-left: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFB946;
 }

 .chart .four::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin-left: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #3ACA60;
 }

.chart{
  text-align: center;
}

.ui.table {
    border: 0 !important;
}

.tableContainer{
  height:480px;
}
